.StockInfo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;

}

.top {
    padding: 20px;
}
.price {
    font-size: 50px;
}



.gif {
    padding-top: 20px;
    height: 20vh;
    width: auto;

}

@media only screen and (max-width: 600px) {
    img {
        width: 90vw;
    }
    .price {
        margin-bottom: 20px;
    }
}
