.Header {
    background-image: url('https://thumbs.gfycat.com/MediocreElegantFattaileddunnart-size_restricted.gif');
    color: white; 
    font-size: larger;
    padding: 15px; 
    margin-bottom: 10px;
}